body {
    font-family: "Arial Narrow", cursive;
}

h1, h2, h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    color: rgb(88, 32, 90);
}

header h2 {
    color: #CEC8FF;
}

.site-footer {
    background-image: linear-gradient(rgb(184, 183, 197), white);
    padding: 20px 0;
}

.jumbotron {
    padding: 30px;
    background-image: linear-gradient(to right, #434e61 , #233d69,#0d1624);
    color: white;
    margin: 0;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar-dark {
    background-color: rgb(54, 52, 58);
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
    border: solid rgb(79, 78, 85);
}